/* Responsividade para iPad (tablet) */
@media (max-width: 1024px) {

    /* Container Principal */
    .container {
        padding: 1rem;
    }

    /************************** SOBRE ***/
    .sobre, .container-sobre {
        height: auto;
    }

    .headline-sobre {
        height: auto;
        position: relative;
    }

    .conteudo-sobre {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .left-sobre, .right-sobre {
        width: 100%;
    }

    .imagem-sobre {
        justify-content: center;
    }

    .complemento-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .complemento-sobre img {
        position: unset;
        width: 100%;
        max-width: 100%;
    }

    /************************** SERVIÇOS ***/

    .headline-servicos {
        flex-direction: column;
        height: auto;
    }

    .titulo-servicos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-servicos h1 {
        font-size: 4rem; /* Ajuste para telas menores */
    }

    .descricao-servicos {
        width: 100%;
        text-align: left;
        font-size: 1.2rem; /* Ajuste no tamanho da fonte */
    }

    /************************** PORTFOLIO ***/

    .container-portfolio {
        gap: 1.5rem;
        padding: 1.5rem 0.5rem;
    }

    .headline-portfolio {
        flex-direction: column;
        height: auto;
    }

    .headline-portfolio .titulo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .headline-portfolio .titulo {
        font-size: 4.5rem; /* Ajuste no tamanho da fonte */
    }

    .headline-portfolio .descricao {
        width: 100%;
        text-align: left;
        font-size: 1.2rem; /* Ajuste no tamanho da fonte */
    }

    .container-case {
        gap: 1.5rem;
    }

    .case1, .case3, .case2, .case4 {
        flex-direction: column;
        gap: 1rem;
        height: auto;
        justify-content: center;
    }

    .imagens-case {
        width: 100%;
        height: 50vh; /* Ajuste no tamanho das imagens */
    }

    .textos-case {
        width: 100%;
        height: 30vh; /* Ajuste no tamanho dos textos */
    }

    /************************** CONTATO ***/
    .contato {
        padding: 2rem 1rem;
        height: auto;
    }

    .container-contato {
        width: 100%;
        height: auto;
    }

    .headline-contato {
        flex-direction: column;
        height: auto;
    }

    .titulo-contato {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .titulo-contato h1 {
        font-size: 4.5rem; /* Ajuste no tamanho da fonte */
    }

    .descricao-contato {
        width: 100%;
        text-align: left;
        font-size: 1.2rem; /* Ajuste no tamanho da fonte */
    }

    .descricao-contato a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        line-height: 1.4;
        font-weight: bold;
    }

    .conteudo-contato {
        padding-top: 2rem;
        flex-direction: column-reverse;
    }

    .logo-contato {
        width: 100%;
        justify-content: center;
    }

    .logo-contato img {
        width: 100%;
        max-height: 400px; /* Ajuste na altura da imagem */
        object-fit: cover;
    }

    .formulario-contato {
        width: 100%;
    }

    .credits-column {
        width: auto;
        text-align: right;
        margin-top: 0;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {

    /* Ajustes gerais para telas pequenas */
    .container {
        padding: 0.5rem;
    }

    /* Ajustes de fontes */
    .titulo-servicos h1, 
    .headline-portfolio .titulo, 
    .titulo-contato h1 {
        font-size: 3.5rem; /* Reduzir ainda mais o tamanho para telas pequenas */
    }

    .descricao-servicos, 
    .headline-portfolio .descricao, 
    .descricao-contato {
        font-size: 1rem; /* Ajuste para texto mais legível em dispositivos pequenos */
    }

    .imagens-case, .textos-case {
        height: auto; /* Ajuste no tamanho das imagens e textos para não sobrecarregar o layout */
    }

    .logo-contato img {
        max-height: 300px; /* Menor altura para a imagem no contato */
    }
}
